*.class
.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/libraries
.idea/uiDesigner.xml
.idea/kotlinc.xml
.idea/modules.xml
**/*.iml


# Package Files #
*.jar
*.war
*.ear

*/target
target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
