*.class
.DS_Store
# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea/workspace.xml
.idea/dictionaries
.idea/misc.xml
.idea/libraries
.idea/uiDesigner.xml
.idea/jarRepositories.xml
.idea/kotlinc.xml
.idea/modules.xml
.idea/usage.statistics.xml
.idea/checkstyle-idea.xml
**/*.iml
docs/**/*.zip
*/docs

# Package Files #
*.jar
*.war
*.ear

*/target
target

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse project file
.settings/
.classpath
.project


# Created by https://www.gitignore.io/api/gradle
# Edit at https://www.gitignore.io?templates=gradle

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### Gradle Patch ###
**/build/

# End of https://www.gitignore.io/api/gradle
